*{margin: 0; padding: 0; line-height: 30px;}
ul{list-style: none;}
a{text-decoration: none; color: #1f1f1f;}
body{font-size: 14px; color: #1f1f1f; 
 font-family: 'Poppins','Noto Sans KR',  sans-serif;}
/* height 세로값 나중에 스크롤 생기면 지워주기 */
/* 1024 에서 반응 header-top없어짐 / 768에서 반응 아래 하단 메뉴 한줄에서 2줄로 바뀜


 /* 상단 헤더 시작 */
#main_1{ text-align: center; box-sizing: border-box;}
#main_1 .top-header{padding:0px 80px; border-bottom: 1px solid #e7e7e7; box-sizing: border-box;}
#main_1 .top-header .top-header-wrap {display:flex; justify-content: flex-end; align-items: center; text-align: center;}
#main_1 .top-header .top-header-wrap ul{display:flex; align-items: center; justify-content: center; padding-left: 15px; text-align: center; position: relative;} 
#main_1 .top-header .top-header-wrap ul li:nth-child(n+1){margin-left: 3px;}
#main_1 .top-header .top-header-wrap ul li a{letter-spacing: -1px;}
#main_1 .top-header ul li a img{vertical-align: middle; }
#main_1 .top-header .top-header-wrap ul:nth-child(2)::before{
    content: "";
   background-color: #e7e7e7;;
    width: 2px;
    height: 9px;
    position: absolute;
    left:  9px;
}
/* 상단 헤더 끝 */

 #main_bg{
    background: url(../images/bing-main_logo01.png) no-repeat center / cover; padding-bottom: 180px; }



/* header-s2 중앙 네비 시작 */
.header{max-width: 100%;}
.header .header-container{max-width: 100%;padding: 40px 80px;box-sizing: border-box; display: flex; justify-content: space-between; align-items: center;  margin: 0 auto; border: 1px solid #000;}

/*  border-bottom: 1px solid #e7e7e7; */
.header .header-container .header_S1{max-width: 100%; vertical-align: top; position: relative;}
.header .header-container .header_s2{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   }
.header .header-container .header_s2 > ul{display: flex; align-items: center; justify-content: space-between; padding-top: 3.5%; white-space: nowrap;}
/* .header .header-container .header_s2 ul{display: flex; justify-content: space-around; align-items: center; margin: 0 auto;} */
.header .header-container .header_s2 > ul{position: relative;}
.header .header-container .header_s2 > ul >li{
    padding: 45px 80px 40px 0; box-sizing: border-box; position: relative;}
    .header .header-container .header_s2 ul li a{font-size: 20px; letter-spacing: -0.09em;}

    
/* header-s2 중앙 네비 끝 */

/* header-s2 중앙 서브메뉴 중앙네비 호버 시작*/


.header .header-container .s2_submenu{width: 100%; position: absolute; display:flex; flex-wrap: wrap; text-align: left; height: 0; background-color: #fff; display: none;}

.header .header-container .s2_submenu ul{border: 1px solid #000; }
    .header .header-container .s2_submenu .a{padding-right: 60.5px;}
    .header .header-container .s2_submenu .b{padding-right: 55px;}
    .header .header-container .s2_submenu .c{padding-right: 44px;}
    .header .header-container .s2_submenu .d{padding-right: 80px;}
    .header .header-container .s2_submenu .e{padding-right: 15px;}
    .header .header-container .s2_submenu .f{padding-right: 13px;}
 
    .header .header-container .header_s2 > ul > li a:hover{color: #e0462e; transition: all 0.5s ease;}
/* header-s2 서브 중앙네비 호버 끝 */

/* header-s3 우측 kr 시작 */ 
.header_s3{max-width: 100%; display: flex; justify-content: center; align-items: top;}
.header_s3 .hs3_lang{position: relative;display: flex; justify-content: space-between; align-items: center;margin-right: 33px; cursor: pointer;}

.header_s3 .hs3_lang .A{margin-right: 5px; font-weight: bold; font-size: 16px; cursor: pointer; }
.header_s3 .hs3_lang .B{max-width: 100%; vertical-align:top; margin-left:5px;}
/*  header-s3 우측 kr 끝 */ 

/* header-s3 우측 kr 서브 시작 */
.header_s3 .hs3_lang .hs3_submenu{position: absolute; top: 30px;  background: #fff;border-radius: 20px;  height: 0; overflow: hidden; transition: 0.5s;}
.header_s3 .hs3_lang .hs3_submenu.on{height: 130px;}
.header_s3 .hs3_lang .hs3_submenu ul li{font-weight: bold; font-size: 16px; letter-spacing: 0.5px; margin: 10px 10px;
}
/* header-s3 우측 kr 서브 끝 */

/* header-s3  햄버거 메뉴시작 */
.hamberger{position: relative;}
.header_s3 .hamberger{width: 26px; vertical-align:top;}
.header_s3 .hamberger .hamberger_line{width: 100%; height: 2px; background-color: #000; margin-top: 8px; display: block;}

.hamberger_submenu{display: none;}

/* 햄버거 서브메뉴시작 */
/* .header_s3 .hamberger .hamberger_line:nth-child(1){transform: rotate(-45deg); margin-top: 8px;transition: all 0.3s ease-in-out}
.header_s3 .hamberger .hamberger_line:nth-child(2){transform: rotate(45deg); margin-top: -2px;transition: all 0.3s ease-in-out}
.header_s3 .hamberger .hamberger_line:nth-child(3){opacity: 0;transform: rotate(45deg); margin-top: 8px; transition: all 0.3s ease-in-out}
.hamberger_submenu{display: none;} */
/* 햄버거 서브메뉴시작 */




/*  center logo 센터 로고 시작 */
.center{position: relative;}
.center_container{vertical-align: top; margin: 0 auto;}
.center_container .center_logo{}
/*  center logo 센터 로고 끝 */

/* center search 센터 서치창 시작  */
.center_search{ max-width: 1020px; height: 80px; border-radius: 40px; box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);background-color: #fff; margin: 40px auto 0; justify-content: space-between;}
.center_search .center_search_box{width: 100%; height: 100%; padding: 0 15px 0 55px; display: flex; align-items: center;justify-content: space-between; position: relative;}
.center_search .center_search_box input{width: 78%; height: 100%; padding-left: 30px; font-size: 17px; letter-spacing: -0.85; text-align-last: left; background: url(../images/bing-search_icon.png) no-repeat center left;  border: 0px solid #000;}
/* 클릭전에 라인 생겨서 border 0 클릭후 라인 생겨서 input:focus */
.center_search .center_search_box input:focus{outline: none;}
/* input 기본적으로 bd잇는것같음 bd 하니까 없어졌다 ㅎㅎㅎ   */
.center_search .center_search_box .center_search_button{max-width: 180px;width: 22%;height:55px; color: #fff;font-size: 14px;font-weight: 500;letter-spacing: normal; border-radius: 27.5px; box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11); background-image: linear-gradient(to top, #ed1c24, #e0462e); position: absolute; right: 8%; }
/* center search 센터 검색창 끝 */

/* center searh keyword 센터 서치 키워드  시작 */
.center_search_keyword {max-width: 100%; margin-top: 25px; font-family: "Binggrae";  }
.center_search_keyword ul{width: 100%; height: 43px; display: flex;justify-content: center;align-items: center;}
.center_search_keyword ul li{min-width: 120px;height: 37px;font-size: 12px; border: 1px solid #edecef; border-radius: 18.5px;
padding: 0 20px; cursor: pointer; flex-basis: 15px; margin: 0 10px; text-align: center;
}
/* center searh keyword 센터 서치 검색 끝 */


/* 행복한 빙그레의 맛 시작 */
#main_2{padding-bottom: 140px;}
#main_2 .slick_slide2_1 h3{font-size: 38px; font-family: "Binggrae_bold",sans-serif;  font-weight: bold; margin-bottom: 20px;}
/* 행복한 빙그레의 맛 끝 */

/* 슬릭 슬라이드1 시작 */ 
#main_2{max-width: 100%;background: url(../images/bing-main_logo02.png); }
#main_2 .slick_slide2_1{max-width: 1650px; width: 100%; margin: 0 auto 140px; position: relative; }

#main_2 .slick_slide2_1 h3{text-align: center; font-size: 38px; font-family: "Binggrae_bold",sans-serif;  margin-bottom: 20px;}
#main_2 .slick_slide2_1{ margin-bottom: 20px;}



#main_2 .slick_slide2_1 .slide1573 .slick{padding: 20px 0;justify-content: space-between; align-items: center; }
#main_2 .slick_slide2_1 .slide1573 .slick .slide-item{width: 260px;}
#main_2 .slick_slide2_1 .slide1573 .slick .slide-item .slide-text{width: 100%; height: 43px; background-color: #f9f9f9; border-radius: 21px; color: #1f1f1f; margin-top: 12px; display: flex; align-items: center; justify-content: center;}
/* 슬릭 슬라이드1 끝 */

/* 브랜드 슬릭 슬라이드2 시작*/
#main2{max-width: 100%;background: url(../images/bing-main_logo02.png); padding: 140px;}
.slick_slide2_2{max-width: 1650px; width: 100%; margin: 0 auto 140px; position: relative;margin-bottom: 20px;}
.slick_slide2_2 h3{text-align: center; font-size: 38px; font-family: "Binggrae_bold",sans-serif;  margin-bottom: 20px;}
.slick_slide2_2{margin-bottom: 20px;}

.slick_slide2_2 .menu-content2-slick .slide-item a{
    border: solid 1px #edecef;
    height: 100%;
    background-color: #fff;
    position: relative;
    display: block;
    border-radius: 30px;
}


.slick_slide2_2 .slide1573 .slick{padding: 20px 0;justify-content: space-between; align-items: center; }
.slick_slide2_2 .slide1573 .slick .slide-item{width: 260px;}
.slick_slide2_2 .slide1573 .slick .img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #main2_2 .slick_slide2_2 .slide1573{width: 100%; padding: 0 7px; margin: 0 auto; border: 1px solid #fd0303; }
#main2_2 .slick_slide2_2 .slide1573 .slick{padding: 20px 0; border: 1px solid #15ff00; justify-content: space-between; align-items: center; } */


/* 슬릭 슬라이드  */
.slick img{width: 100%;}
.slick .slick-prev{left:-8px;z-index: 1;}
.slick .slick-next{right:-20px;}

.menu-content-slick .slick-list{
    max-width: 1573px;
    margin:0 auto;
    padding: 0px 7px;
    box-sizing: border-box;
}
.menu-content2-slick .slick-list{
    max-width: 1573px;
    margin:0 auto;
    padding: 0px 7px;
    box-sizing: border-box;
}
.slick_slide2_1 .arrow > div{
    position: absolute;
    top: 50%; transform: translateY(-50%);
}
.slick_slide2_1 .prev{left: 0;}
.slick_slide2_1 .next{right: 0;}
.slick-slide > div{
    margin:0 9px;
}
.slick_slide2_2 .arrow > div{
    position: absolute;
    top: 50%; transform: translateY(-50%);
}
.slick_slide2_2 .prev{left: 0;}
.slick_slide2_2 .next{right: 0;}
.slick-slide > div{
    margin:0 9px;
}
.arrow .slick-disabled{opacity: 0.1;}
/* 슬릭슬라이드 끝 */

/* 
#main2_2 .slick_slide2_2{width: 100%; height: 500px; position: relative; margin: 0 auto 140px; margin: 100px 0 ; border: 1px solid #d400ff;}
#main2_2 .slick_slide2_2 h3{font-size: 38px; text-align: center;font-family: "Binggrae_bold",sans-serif;  font-weight: bold;line-height: 1.45; border: 1px solid #ff0000;}

#main2_2 .slick_slide2_2 .slide1573 .slick{border: 1px solid #000;} */


/* .main2_2 .slick_slide2_2 .slide1573 .slcik{width: 260px; height: 260px;}
.main2_2 .slick_slide2_2 .slide1573 .slick .slide-item{position: relative; height: 100%; border: 1px solid #edecef;background-color: #fff; border-radius: 30px; } */
/*브랜드 슬릭 슬라이드2끝 */


/* 고객문의 및 불편사항 시작*/
#main3 .qna_box{width: 1310px;; margin: 0 auto;}
#main3 .qna_box h3{font-size: 38px; font-weight: bold; line-height: 1.45; letter-spacing: -1.9px; text-align: center;
    font-family: "Binggrae_Bold", sans-serif; margin-bottom: 40px;}
#main3 .qna_box .qna_top{position: relative; padding: 60px 45px; border-radius: 30px; box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09); background-color: #fff; margin-bottom: 132px; }   
    /* 이메일 시작 */
#main3 .qna_box .qna_top .qna_1{display: flex; justify-content: space-between; margin-top: 30px;}
#main3 .qna_box .qna_top .qna_1 .email_box{width: 48.5%; height: 325px; padding: 55px 45px; position: relative; 
    background: #eef8fa url(../images/bing-sec03_backimg01.png) no-repeat center; border-radius: 30px;
    cursor: pointer; box-sizing: border-box;}
#main3 .qna_box .qna_top .qna_1 .email_box h4{font-size: 32px; padding-bottom: 30px; font-weight: bold; letter-spacing: -1.6px;
        font-family:"Binggrae_bold"; }
#main3 .qna_box .qna_top .qna_1 .email_box p{font-size: 16px; line-height: 1.63;}        
#main3 .qna_box .qna_top .qna_1 .email_box a{width: 160px; height: 43px; display: flex;align-items: center; justify-content: center;
position: absolute; border: solid 1px rgba(224, 223, 226, 0.6); border-radius: 21.5px; font-weight: 500; letter-spacing: normal; bottom: 50px; left: 45px;    color: #fff; box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03); 
background-image: linear-gradient(to top, #ed1c24, #e0462e); border-radius: 21.5px;}

    /* 이메일 끝 */

    /* 전화시작 */
#main3 .qna_box .qna_top .qna_1 .tel_box{width: 48.5%; height: 325px; padding: 55px 45px; position: relative; 
        background: #fdf3f2  url(../images/bing-sec04_backimg02.png) no-repeat center right/cover; border-radius: 30px;
        cursor: pointer; box-sizing: border-box;}
#main3 .qna_box .qna_top .qna_1 .tel_box h4{font-size: 32px; padding-bottom: 30px; font-weight: bold; letter-spacing: -1.6px;
            font-family:"Binggrae_bold";  line-height: 1;}
#main3 .qna_box .qna_top .qna_1 .tel_box p:nth-child(2){color: #303030;font-size: 46.5px;font-weight: 600; letter-spacing: -2.33px;  line-height: 1; }
#main3 .qna_box .qna_top .qna_1 .tel_box p:nth-child(3){display: flex; font-size: 16px; padding-top: 25px; line-height: 1;}
#main3 .qna_box .qna_top .qna_1 .tel_box span{color: #e0462e;margin-left: 15px; line-height: 1; font-size: 100%; font-weight: 500;}
/* 전화끝 */
 
/* 자주묻는 질문 시작 */
.qna_bottom{display: flex; justify-content: space-between; align-items: center; padding: 47px 27px;}
.qna_bottom h4{font-size: 23px; font-family:"Binggrae_bold"; line-height: 1; }
button{width: 160px; height: 43px;display: flex; justify-content: center; align-items: center; border: 1px solid  #edecef; border-radius: 21.5px;
color: #1f1f1f; font-size: 14px; font-weight: 500; cursor: pointer;}

.faq_box{ display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(3, 80px);
     grid-column-gap: 50px;
    grid-row-gap: 10px;
    padding: 0 20px;
    
        

}
.faq_box .faq_list{
    border-radius: 30px;
    align-items: center;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    cursor: pointer;
    background-color: #f9f9f9;
    position: relative;
    padding: 0 20px;
    
}

.faq_box .faq_list .faq_Q_img{width: 100%; height: 100%; display: flex;  align-items: center;
    text-align: center; justify-content: space-between; 
padding:0 10px; }

.faq_box .faq_list .Q{letter-spacing: normal; padding-right: 2px; font-size: 18px; line-height: 1.4;
font-size:  "Binggrae_bold";
}
.faq_box .faq_list span{font-size: 18px; line-height: 1.4; color: inherit;}
.faq_box .faq_list a{

box-shadow: inset 0px 5px 10px 0 rgba(26, 26, 26, 0.14);
width: 47px;
height: 47px;
background-color: #e0462e;
border-radius: 23px;
display: none;
}
.faq_box .faq_list a img{vertical-align: bottom;}
/* 자주묻는 질문 끝 */
/* 자주묻는 질문 호버 시작 */
.faq_list:hover{font-weight: bold;  transition: all 0.5s ease;}
.faq_list .faq_Q_img .faq_Q:hover a{display: block; transition: all 0.5s ease;}
/* 자주묻는 질문 호버 끝*/
/* 신고 시작 */
#main4{padding-bottom: 180px;}
#main4 h3{font-size: 38px; font-weight: bold; line-height: 1.45; letter-spacing: -1.9px; text-align: center;
    font-family: "Binggrae_Bold", sans-serif; margin-bottom: 40px;}

.report_warp{width: 1310px; display: flex; margin: 0 auto;  justify-content: space-between;
    margin-top: 30px; align-items: center;}

.report_warp .report{     
    background-color: #f9f9f9;
    width: 44.5%;
    height: 120px;
    border-radius: 30px;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
    word-break: keep-all; 
    
} 

.report_warp .report p{font-size: 20px; line-height: 1.63; letter-spacing: -0.09em; 
    text-align: center; } 
.report_warp .report a{
    width: 160px; height: 43px; border: solid 1px rgba(224, 223, 226, 0.6); border-radius: 21.5px;
    background-image: linear-gradient(to top, #ed1c24, #e0462e);
    color: #fff;
    box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.03);
    display: flex; align-items: center; justify-content: center; line-height: 1.63;  margin: 0 auto;
    font-size: 14px; font-weight: 500; cursor: pointer;
}
.report_warp .A{padding: 60px 25px 58px;}
.report_warp .B{ padding: 60px 25px 58px;}
.report_warp .B a{margin-top: 30px;}
/* 신고 끝 */

/* 하단 푸터 시작 */
#footer{background-color: #1b1b1b;  padding: 40px 50px 30px; margin: 0 auto; line-height: 30; }

#footer .footer_1{ margin: 0 auto; display: flex; align-items: center; justify-content: space-between;}
#footer .footer_1 img{vertical-align: top;}
#footer .footer_1 ul{display: flex; align-items: center; justify-content: center; }
#footer .footer_1 ul li a{font-size: 15px; font-weight: 500;  color:rgba(255, 255, 255, 0.3); letter-spacing: -2.5px;}
#footer .footer_1 ul li:nth-of-type(2){margin-left: 30px;}

#footer .footer_2{display: flex; padding: 30px 0 115px;}
#footer .footer_2 ul li span{font-size: 17px; font-weight: 300; color: rgba(255, 255, 255, 0.7);}
#footer .footer_2 ul li+li{margin-top: 10px;}

#footer .footer_3 {display: flex; justify-content: space-between; align-items: center;}
#footer .footer_3 p{font: 1z 4px; letter-spacing: -0.15px; color: rgba(255, 255, 255, 0.2);}
#footer .footer_3 .sns ul{display: flex; justify-content: center;align-items: center; margin-right: 50px; }
#footer .footer_3 .sns ul li{width: 70px; height: 70px; background-color: #1b1b1b; border-radius: 50%; 
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36), inset 0px 4px 10.8px 2.2px rgba(73, 73, 73, 0.11);
    display: flex; align-items: center; justify-content: space-between;   
}

#footer .footer_3 .sns ul li img{vertical-align: middle; margin: 0 auto;}
/* 하단 푸터 끝*/
/* 사이드 버튼 시작 */
/* 헬프 버튼 시작 */
.btn_fixed{width: 80px; height: 219px; position: fixed; right: 30px; bottom:8%; }
.btn_fixed .btn_helf{position: relative; padding-left: 10px; cursor: pointer;}

.btn_fixed .btn_helf img{animation: updown 2s infinite ease-in-out;}
@keyframes updown{ 
    20%{transform: translateY(0px);}
    40%{transform: translateY(10px);}
    60%{transform: translateY(13.5px);}
    80%{transform: translateY(15px);}
    100%{transform: translateY(0px);}
   }
   .btn_fixed .btn_helf p{display: none;}
   .btn_fixed .btn_helf:hover p{display: block; position: absolute; width: 160px; height: 45px; border-radius: 22.5px; box-shadow: 0px 3px 7px 0 rgb(0 0 0 / 5%); background-color: #fff; font-weight: bold; text-align: center; top: 50%; right: 82px;}
    


    
  




/* 헬프 버튼 끝 */
/* 샵, 위아래 버튼 시작 */

.btn_fixed .btn_shop{ background-color: #fff; color: #1b1b1b; font-weight: 500;box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06),
    inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14); width: 55px; height: 55px; border-radius: 50%;
    display: flex;  justify-content: center;align-items: center; margin: 0 auto;text-align: center; cursor: pointer; font-size: 14px; position: absolute; left:28%;}

    .btn_fixed .btn_side{width: 55px; height: 55px; border-radius: 50%; 
        display: flex;  justify-content: center;align-items: center; margin: 0 auto;text-align: center; cursor: pointer; font-size: 14px; position: absolute; background-color: #000000; position: absolute; left: 22px; bottom: -5px;
    }
    .btn_fixed .btn_side img:nth-child(2){transform: scaleY(-1); display: none;}

/* .btn_fixed .btn .btn_SHOP{ background-color: #fff; color: #1b1b1b; font-weight: 500;box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06),
    inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14); width: 55px; height: 55px; border-radius: 50%;
    display: flex;  justify-content: center;align-items: center; margin: 0 auto;text-align: center; cursor: pointer; font-size: 14px; position: absolute; left:28%;

  
} */


/* .btn_fixed .btn {
 color: #1b1b1b; font-weight: 500;box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14); vertical-align: top;} */

/* .btn_fixed .btn{width: 55px; height: 55px; border-radius: 50%;
    display: flex;  justify-content: center;align-items: center; margin: 0 auto;text-align: center; cursor: pointer; font-size: 14px; position: absolute; left:28%; }

.btn_fixed .btn a{
    background-color: #fff; color: #1b1b1b; font-weight: 500;box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06),
     inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14);}

.btn_fixed .btn_SHOP{
    margin-top: 70px;}



.btn_fixed .btn img{
    background-color: #000000; color: #1b1b1b; font-weight: 500;box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.06), inset 0px 5px 10px 0 rgba(255, 255, 255, 0.14); vertical-align: top;  position: absolute; 
} */


/* 샵 위아래 버튼 끝 */






/* .btn_fixed .btn_shop a{} */
/* .btn_fixed .btn_side{margin-left: 10px;}
.btn_fixed .btn_side .btn{width: 55px; height: 55px;position: relative;background: #000; border-radius: 50%;
    display: flex;  justify-content: center;align-items: center; margin: 0 auto;text-align: center; cursor: pointer; font-size: 14px; position: absolute; top: 50%; left:50%;}
.btn_fixed .btn_side img{max-width: 100%; vertical-align: top;}
.btn_side .sidedown{position: absolute;transform: translate(-50%, -50%) rotateZ(180deg);}
.btn_fixed .btn_side .sideup{display: none;} */
/* 사이드 버튼 끝 */




