@charset "utf-8";
*{margin: 0; padding: 0;}





.slick .slick-prev{left:50px; z-index: 1;}
.slick .slick-next{right: 50px;}
.slick .slick-prev::before{background: url(../images/prev_arrow.png) no-repeat; color: transparent;}
.slick .slick-next::before{background: url(../images/next_arrow.png) no-repeat;  color: transparent;}